---
layout: zh-cn/layouts/common.njk
title: G7 的文章列表
eleventyExcludeFromCollections: true
---

{% set postslist = collections.posts %}
{% set author = 'genchilu' %}
{% include "zh-cn/author-postslist.njk" %}
