---
templateClass: tmpl-home
---
{% extends "en/layouts/base.njk" %}

{% block extraArticleHeader %}
   <aside class="w-full" style="text-align:left;">
      Welcome to zxgangandy Blog! I will share my thoughts and experience on security and technology. Subscribe my <a href="https://zxgangandy.github.io/feed/feed.xml" rel="noreferrer noopener" target="_blank">RSS</a> and follow our <a href="https://www.facebook.com/zxgangandy" rel="noreferrer noopener" target="_blank">Facebook page</a> and <a href="https://zxgangandy.github.io/en/" rel="noreferrer noopener" target="_blank">website</a>.  Source code is available on <a href="https://github.com/zxgangandy/zxgangandy.github.io" rel="noreferrer noopener" target="_blank">Zxgangany GitHub</a>.
   </aside>
{% endblock %}

{{ content | safe }}
